asgiref==3.8.1
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
distlib==0.3.8
Django==5.0.4
django-crispy-forms==2.1
filelock==3.13.3
idna==3.4
pillow==10.3.0
platformdirs==4.2.0
requests==2.30.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.0.2
virtualenv==20.25.1
